body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#messageInput {
    width: 300px;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.modal-content .smiley-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-content img {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.nameInput{
    width: 300px;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
}
